 

 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="ryb_byline.jpg" alt="network, black-owned, digital-marketing, optimization, ruby_rails, john_elder, baby_bird" style="width:100px;height:275px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="susie_inspirations.png" alt="susie_newton, city_council, small_business, rdi, connect, henderson, author, publisher, entreprenuer, full_stack_developer" style="height: 275px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="babybirdlogo.png" alt="web_design, virtual_assistant, seo, public_relations, bradenton, sunshine_skyway_bridge, florida" style="height: 275px;">
    </div>
  </div>
  
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</div>

 <div class="container"><center><h1 style="font-family: 'Reggae One' ;"> What Does RYBNetWork Do... </h1></center></div>
 
<div class="card-group">
  <div class="card">
   <center><img class="card-img-top" src="susie_newton.jpg" alt="susie newton, black-owned, business, author, publisher, software developer" style="width: 310px; height: 350px; padding: 25px; position: absoulute;"></center>
    <div class="card-body">
<center>
      <h2 class="card-title">Consult</h2>
       <p class="card-text"><medium class="text-muted">Work With Experts</medium></p>
       <p class="card-text">Superior Techonology Solutions is your address for digital business development.
					We examine what organizations are doing to stay relevant and competitive in this fast-paced world since 2008.
					We strategize using insumountable tools, techonology and global resources to understand the implications of
					every brand choice and organizational decision.</p>
   <a class="btn btn-outline-warning" href="mailto:fstechwriter@gmail.com?subject=How can RYBNetWork benefit me?" role="button">Get In Touch</a>
    </center>
    </div>
  </div>

  <div class="card">
  <center><img class="card-img-top" src="susie_newton.jpg" alt="susie newton, black-owned, business, author, publisher, software developer" style="width: 310px; height: 350px; padding: 25px;"></center>
   <div class="card-body">
  <center>
      <h2 class="card-title">Advise</h2>
         <p class="card-text">Over 20 years experience of advising countless projects and
					community events we are ready to navigate your business technological advances.
					Superior Technology Solutions, our techonology branch of RYBNetWork
					combine our insights on how to transform your projects, processes and
					strategies into a driving force. 	Our staff has the capabilities and experience
					to get the job done. We’re proud to help shape your companies techonological core.</p>
     <a class="btn btn-outline-warning" href="mailto:fstechwriter@gmail.com?subject=How can RYBNetWork improve my business?" role="button">Get In Touch</a>
      </center>
  </div>
  </div>

  <div class="card">
    <center><img class="card-img-top" src="susie_newton.jpg" alt="susie newton, black-owned, business, author, publisher, software developer" style="width: 310px; height: 350px; padding: 25px; position: absoulute;" style="width: 310px; height: 350px; padding: 25px;"></center>
     <div class="card-body">
   <center>
      <h2 class="card-title">Strategically Plan</h2>
	      <p class="card-text"><medium class="text-muted">Achieve Your Goals</medium></p>
	      <p class="card-text">Looking to develop your business but not sure where to turn? 
					Need help planning or executing your next project? Let us guide you with Strategic Planning services. 
					Any organization can develop with small incremental changes, but building for the future in today’s rapidly 
					evolving digital business environment means taking bold chances and making insightful decisions.</p>
	      <a class="btn btn-outline-warning" href="mailto:fstechwriter@gmail.com?subject=How can RYBNetWork enhance my brand?">Get In Touch</a>

     </center>
</div>
</div>
